.app-wrapper {
  display: grid;
  grid-template-areas:
  'header header'
  'aside app-wrapper-content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 14fr;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: green;
}

.header img {
  height: 50px;
}

.app-wrapper-content {
  grid-area: app-wrapper-content;
  background-color: yellow;
}

.content img {
  height: 200px;
}